* {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	background-color: #C5A6C9;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

header {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header p {
	margin-top: 0;
}

header h1 {
	color:  #FFFAAF;
	font-size: 70px;
	font-family: 'Rampart One', cursive;
}

h1, h2 {
	font-family: 'Comfortaa', cursive;
}

header img {
	border-radius: 25px;
	width: 800px;
	border: 5px solid black;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img {
	max-width: 100%;
}

h2 {
	font-size: 35px;
	color: #FFFAAF;
	margin: 40px 0 10px;
}
 
a {
	color: black;
}

a:hover {
	color: #FFFAAF;
}

footer {
	text-align: center;
	background-color: #FFFAAF;
	padding: 10px;
}

footer p {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

p.caption {
	color: black;
	font-style: bold;
	margin-top: 0;
}

.columna {
  float: left;
  width: 50%;
  padding-right: 5px;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

div img {
	width: 640px;
	height: 333px;
	border-radius: 15px;
	border: 2px solid black;
}

footer img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

footer h3 {
	font-family: 'Rampart One', cursive;
	text-transform: uppercase;
	margin-top: 0;
}