body {
	margin: 10;
	background-color: #598792;
}

h1{
	font-size: 30px;
	color: #4E1458;
}

h2 {
	font-size: 20px;
	color: #2B0086;
}

.ae {
	color: black;
	text-transform: uppercase;
} 

h1 span{
	color: red;
}